<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

<body>
  <div class='container text-white'>
    <h1 id="TitleInfo">About us</h1>
    <hr>
    <strong>Who is RSA Network?</strong><br>
    RSA Network is a subsidiary of ITRK Network, RSA Network is a gaming network community that hosts multiple different
    game-servers from Multi-Theft-Auto : San Andreas, to World of Warcraft : WoTLK
  </div>
</body>
<%- include('footer') %>
</html>