<br>
<footer class="text-white" style="position: fixed; bottom: 25px; left: 25px; word-wrap: break-word; max-width: 97vw;">
  <span>World of Warcraft® and Blizzard Entertainment® are all trademarks or
    registered trademarks of Blizzard Entertainment in the United States
    and/or other countries. These terms and all related materials, logos,
    and images are copyright © Blizzard Entertainment. This site is in no
    way associated with or endorsed by Blizzard Entertainment®. </span><br>
  Copyright © RSA-Networks™ 2022. All rights reserved.
</footer>