<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Register RSA-WOW</title>
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/YD5TGSb/icon1.png">
    <%- include('stylesheet') %>
  </head>
  <body>
    <img src="https://i.ibb.co/s9hmzJg/7e3d7119b459eff971475b9e8555e260.png"
    id="img1" alt="">
    <form id="frm1" action="/action_page.php" style=>

      Account Name: <input type="text" name="fname" /><br />
      Account Password: <input type="text" name="lname" /><br /><br />
      Email: <input type="text" name="Email" /><br /><br />

      <input type="button" onclick="myFunction()" value="Register" />
    </form>

    <div id="footer">
      <span
        >World of Warcraft® and Blizzard Entertainment® are all trademarks or
        registered trademarks of Blizzard Entertainment in the United States
        and/or other countries. These terms and all related materials, logos,
        and images are copyright © Blizzard Entertainment. This site is in no
        way associated with or endorsed by Blizzard Entertainment®. </span
      ><br />
      Copyright © RSA-Networks™ 2022. All rights reserved.
    </div
    >
      <div class="plyr__video-embed" id="player"> 
        <iframe
          src="https://www.youtube.com/embed/BCr7y4SLhck?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
          width="750" height="400"             
        ></iframe>
  </body>
</html>
<script type="text/javascript"> 

// Video player https://www.npmjs.com/package/plyr

</script>
