<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <head> 
    <title>idt1</title> 
    <script type="text/javascript"> 
      function addNode() 
         {var newP = document.createElement("p"); 
        var textNode = document.createTextNode(" This is a new text node"); 
        newP.appendChild(textNode);
          document.getElementById("firsP").appendChild(newP); } 
    </script> </head> 
    <body>  
      <h1 id=TitleInfo>Who are we?</h1>
      <p id="info">We are creators the creators of RSA-Network. We have been building sits for over 3+ Years<p> </body> 
      <p id="info1">I dont know who we really are deep down so ill let you do this part lmfao<p> </body> 
</html>

