<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <style>body {margin:0;}</style>
    <title>Register RSA-WOW</title>
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/YD5TGSb/icon1.png">
    <%- include('stylesheet') %>
  </head>