<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <!-- Put HTML code here. -->
  </body>
  <%- include('footer') %>
</html>



<!-- don't do anything to this page. -->
<!-- this is a blank template. -->


<!-- 
Be sure to add this to the app.js file.

DIR_NAME = the url you wanna visit (https://www.WEBSITE_URL.com/DIR_NAME)
FIL_NAME = the .ejs file name you wanna render.(FIL_NAME.ejs)

replace the following two.

app.get('/DIR_NAME', function (req, res) {
  res.render(__dirname + '/FIL_NAME'); 
}); 

once this is done, then you can remove this text from the copied page, don't remove this from the page_template.ejs
-->
